<?xml version="1.0" encoding="utf-8" ?>

<!-- The master App.config is the app.config that resides in 
     Asynk.Library.  Each project that wants a copy can use an
     msbuild task like:
     
     <Target Name="BeforeBuild" DependsOnTargets="PrepareForBuild">
       <Copy SourceFiles="..\Asynk.Library\App.config" DestinationFiles="$(TargetPath).config"/>
     </Target>
     
     These are only defaults.  It is expected that these will change
     per-enviroment once deployed.
     -->

<configuration>
  <configSections>
    <sectionGroup name="Asynk.Settings">
      <sectionGroup name="Queues">
        <section
          name="DefaultQueue"
          type="Asynk.Library.Settings.DefaultQueue, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
          allowLocation="true"
          allowDefinition="Everywhere"
        />
        <section
          name="FailedQueue"
          type="Asynk.Library.Settings.FailedQueue, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
          allowLocation="true"
          allowDefinition="Everywhere"
        />
      </sectionGroup>
      <sectionGroup name="Logs">
        <section
          name="TraceLog"
          type="Asynk.Library.Settings.TraceLog, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
          />
        <section
          name="ErrorLog"
          type="Asynk.Library.Settings.ErrorLog, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
          />
        <section
          name="WarningLog"
          type="Asynk.Library.Settings.WarningLog, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
          />
      </sectionGroup>
      <section
        name="Misc"
        type="Asynk.Library.Settings.MiscSettings, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
        />
    </sectionGroup>
  </configSections>

  <!-- XML QUEUE Settings -->
  <Asynk.Settings>
    <Queues>
      <DefaultQueue
        QueueType="Asynk.Library.Queues.XmlQueue, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
        Path="_QUEUE_.xml" />
      <FailedQueue
        QueueType="Asynk.Library.Queues.XmlQueue, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
        Path="_FAILEDITEMS_.xml" />
    </Queues>
    <Misc IgnoreFilter="(^System.*|^Microsoft.*)" />
  </Asynk.Settings>

  <!-- MSMQ QUEUE Settings -->
  <!--<Asynk.Settings>
    <Queues>
      <DefaultQueue
        QueueType="Asynk.Library.Queues.MSMQQueue, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
        Path=".\private$\AsynkTransactionQueue" />
      <FailedQueue
        QueueType="Asynk.Library.Queues.MSMQQueue, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
        Path=".\system$;DeadXAct" />
    </Queues>
  </Asynk.Settings>-->

  <!-- WCF QUEUE Settings -->
  <!--<Asynk.Settings>
    <Queues>
      <DefaultQueue
        QueueType="Asynk.Library.Queues.Framework.WCFQueue, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
        Path="" />
      <FailedQueue
        QueueType="Asynk.Library.Queues.Framework.WCFQueue, Asynk.Library, Version=0.1.0.0, Culture=neutral, PublicKeyToken=791535ff581e7a7b"
        Path="" />
    </Queues>
    <Misc IgnoreFilter="(^System.*|^Microsoft.*)" />
  </Asynk.Settings>-->
  
  <system.serviceModel>
    <client>
      <endpoint name=""
                address="http://localhost/asynkservice/server.svc"
                binding="wsHttpBinding"
                contract="Asynk.Library.Queues.WCF.Server.WCFQueue" />
    </client>
    
    <services>
      <service
          name="Asynk.Library.Queues.WCF.Server.WCFQueue"
          behaviorConfiguration="AsynkServiceBehavior">
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Asynk.Library.Queues.WCF.Server.WCFQueue" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="AsynkServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>